.lida-logo{
    margin-bottom: 40px;
}
.login-left{
    margin-left: 100px;
}
.lida-title{
    font-size: 39px;
    color: #405968;
}
.lida-subtitle{
    font-size: 30px;
    color: #405968;
    font-family: Helvetica;
    font-weight: 400;
}
.form-login h1{
    color: #405968;
    margin: 0px 0px 10px 0px; 
}