.check-box {
    padding: 10px 5px;
    line-height: 14px;
    align-items: center;
    justify-content: center;
    display: flex;
    margin: 5px 3px;
    border: 1px solid #707070;
    box-shadow: 0 0 5px 0 rgb(38 99 153 / 10%);
}
.check-box label {
  margin-left: 10px;
  color: #39607b;
  font-size: 14px;
  font-weight: bold;
}
.check-box input {
  margin-left: 10px;
}
.check-box svg {
  color: #39607b;
}
.check-box input[type="checkbox"] {
  cursor: pointer;
  margin-right: 10px;
}

.check-box input[type="checkbox"]:after {
    background-color: white;
    display: inline-block;
    position: relative;
    width: 15px;
    height: 15px;
    margin-right: 10px;
    border: 1px solid #000;
}
.check-box input[type="checkbox"]:checked:after {
  content: "\2713";
  font-weight: bold;
  text-align: center;
}
